{
  "env": {
    "mocha": true
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-unused-expressions": "off",
    "padded-blocks": "off"
  }
}