<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://unpkg.com/uikit@3.0.0-beta.35/dist/css/uikit.min.css">
        <link rel="stylesheet" href="css/theme.css">
        <script src="https://embed.runkit.com" data-element-id="RunKit"></script>
    </head>

    <body>
        <div class="uk-offcanvas-content">
            <!-- Desktop Navbar -->
            <div class="uk-navbar-container tm-navbar-container" uk-sticky="media: 960">
                <div class="uk-container uk-container-expand">
                    <nav class="uk-navbar">
                        <div class="uk-navbar-left">
                            <a href="../" class="uk-navbar-item uk-logo">
                                {{title}}
                            </a>
                        </div>
                        <div class="uk-navbar-right">
                            <ul class="uk-navbar-nav uk-visible@m" uk-scrollspy-nav="closest: li; scroll: true; offset: 100">
                                <li><a href="#RunKit">Playground</a></li>
                                <li><a href="https://stackoverflow.com/questions/tagged/jaysn?sort=votes">Questions</a></li>
                                <li><a href="https://github.com/lowsprofile/jaysn/">Github</a></li>
                            </ul>
                            <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#offcanvas" uk-toggle></a>
                        </div>
                    </nav>
                </div>
            </div>

            <!-- Sidebar Section -->
            <div class="tm-sidebar-left uk-visible@m">
                <h3>Documentation</h3>
                <ul class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon" uk-scrollspy-nav="closest: li; scroll: true; offset: 100">
                    {{> menu}}
                </ul>
            </div>

            <!-- Main Section -->
            <div class="tm-main uk-section uk-section-default">
                <div class="uk-container uk-position-relative">
                    <div id="RunKit">
                        const { jaysn } = require('jaysn');
                        const schema = {
                            posts: {
                                id: 'number',
                                title: 'string',
                                author: {
                                    id: 'number',
                                },
                            },
                        };
                        const postData = {
                            id: 1,
                            title: 'Post User 34',
                            author: {
                                id: 1,
                            },
                        };

                        const db = jaysn(schema);
                        db.set('posts', [postData]).write();
                        console.log({db: db.getState(), posts: db.get('posts')});
                    </div>
                    {{> content}}
                </div>
            </div>

            <!-- Mobile Navbar -->
            <div id="offcanvas" uk-offcanvas="mode: push; overlay: true">
                <div class="uk-offcanvas-bar">
                    <div class="uk-panel">
                        <ul class="uk-nav uk-nav-default tm-nav">
                            <li class="uk-nav-header">General</li>
                            <li><a href="https://stackoverflow.com/questions/tagged/jaysn?sort=votes">Questions</a></li>
                            <li><a href="https://github.com/lowsprofile/jaysn/">Github</a></li>
                        </ul>
                        
                        <ul class="uk-nav uk-nav-default tm-nav uk-nav-parent-icon" uk-scrollspy-nav="closest: li; scroll: true; offset: 100">
                            <li class="uk-nav-header">Documentation</li>
                            {{> menu}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- UIkit JS -->
        <script src="https://unpkg.com/uikit@3.0.0-beta.35/dist/js/uikit.js"></script>
    </body>
</html>