{
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["error", "as-needed"],
    "eslint-env": "es6",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "strict": "off"
  }
}